<%= form_for(@condominium) do |f| %>
  <% if @condominium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@condominium.errors.count, "error") %> prohibited this condominium from being saved:</h2>

      <ul>
      <% @condominium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :building %><br>
    <%= f.number_field :building %>
  </div>
  <div class="field">
    <%= f.label :designation_building %><br>
    <%= f.text_field :designation_building %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
