<%- model_class = Condominium -%>

<div class="span12 white padding">

  <fieldset>

    <legend><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></legend>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:address) %></th>
          <th><%= model_class.human_attribute_name(:number) %></th>
          <th><%= model_class.human_attribute_name(:zip_code) %></th>
          <th><%= model_class.human_attribute_name(:building) %></th>
          <th><%= model_class.human_attribute_name(:designation_building) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%=t 'table.edit' %></th>
          <th><%=t 'table.show' %></th>
          <th><%=t 'table.delete' %></th>
        </tr>
      </thead>
      <tbody>
        <% @condominia.each do |condominium| %>
          <tr>
            <td><%= condominium.name %></td>
            <td><%= condominium.address %></td>
            <td><%= condominium.number %></td>
            <td><%= condominium.zip_code %></td>
            <td><%= condominium.building %></td>
            <td><%= condominium.designation_building %></td>
            <td><%=l condominium.created_at %></td>
            <td>
              <%= link_to image_tag("/imgs/icons/edit_icon.png"), edit_condominium_path(condominium) %>
            </td>
            <td>
              <%= link_to image_tag('/imgs/icons/show_icon.png'), condominium_path(condominium) %>
            </td>
            <td>
              <%= link_to image_tag('/imgs/icons/delete_icon.png'),
                          condominium_path(condominium),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
            </td>
          </tr>
        <% end %>
      </tbody>
      
    </table>

  </fieldset>

</div>