<div class="padding white">

  <%- model_class = Condominium -%>
  <div class="page-header">
    <h3><%=t '.title', :default => model_class.model_name.human.titleize %> - <%= @condominium.name %></h3>
  </div>
    
  <div class="row-fluid">

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:address) %></strong></dt>
      <dd><%= @condominium.address %></dd>
      <dt><strong><%= model_class.human_attribute_name(:number) %></strong></dt>
      <dd><%= @condominium.number %></dd>
      <dt><strong><%= model_class.human_attribute_name(:zip_code) %></strong></dt>
      <dd><%= @condominium.zip_code %></dd>
    </dl>

  </div>

    <div class="row-fluid">

      <div class="span4"></div>

      <div class="span4 box-key alert alert-info center">
        <p>Repasse a <strong>chave</strong>, abaixo, para que o <strong>responsável</strong> de cada apartamento, presente no seu condomínio, possa efetuar o <strong>cadastro</strong> do apartamento.</p>
        <h4><%= model_class.human_attribute_name(:key) %></h4>
        <h2><%= @condominium.key %></h2>
      </div>

      <div class="span4"></div>
    </div>

  <div class="form-actions">

    <%= link_to t('links.edit', :default => t("helpers.links.edit")),
                edit_condominium_path(@condominium), :class => 'btn' %>
  </div>

</div>