<p>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
  <%= error_tag resource.condominium, :name %>
</p>
<p>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= error_tag resource.condominium, :address %>
</p>

<p>
  <%= f.label :number %>
  <%= f.text_field :number %>
  <%= error_tag resource.condominium, :number %>
</p>

<p>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code%>
  <%= error_tag resource.condominium, :zip_code %>
</p>

<p>
  <%= f.label :building%>
  <%= f.text_field :building%>
  <%= error_tag resource.condominium, :building %>
</p>

<p>
  <%= f.label :designation_building%>

  <div class="span1">
    <%= f.radio_button :designation_building, "A..Z" %>
    <%= f.label :designation_building, "A..Z" %> 
  </div>

  <div class="span1">
    <%= f.radio_button :designation_building, "1..100" %>
    <%= f.label :designation_building, "1..100" %>
  </div>

  <%= error_tag resource.condominium, :designation_building %>
</p>