<!DOCTYPE html>
<html>
<head>
  <title>Larsocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	    <!-- Fixed navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <%= link_to image_tag("/imgs/brand-complete.png"), root_path, :class =>"brand" %>
        </div>
      </div>
    </div>

  </div>
</div>

<%= link_to('Logout', destroy_syndic_session_path, :method => :delete) %>

<div class="container-fluid back-color-panel">
  <!-- ROW -->
  <div class="row-fluid  margin">

    <div class="span12 ">
      
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <p id="notice"><%= flash[:notice] %> </p>
        </div>
      <% end %>
        
      <% if alert.present? %>
        <div class="alert alert-danger">
          <p id="alert"><%= alert %> </p>
        </div>
      <% end %>

      <%= yield %>


      </div>

    </div>
    <!-- FIM ROW -->  
  </div>

</body>
</html>
